<!-- 🔥 Modal -->
        <style>
            .modal-body {
                font-family: 'Segoe UI', sans-serif;
                font-size: 15px;
                color: #333;
            }
            .container-detalhes {
              background: linear-gradient(135deg, var(--bg-color) 0%, #e0e0e0 100%);
              padding: 30px;
              border-radius: 15px;
              box-shadow: 0 10px 30px rgba(0, 0, 0, 0.353);
              width: 100%;
            }
            .modal-content {
                border-radius: 10px;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
                animation: fadeIn 0.5s ease-in-out;
            }

            .modal-header {
                background-color: #f8f9fa;
                border-bottom: 1px solid #ddd;
            }

            .modal-footer {
                background-color: #f8f9fa;
                border-top: 1px solid #ddd;
            }

            .assinatura-img {
                max-width: 100%;
                height: auto;
                border: 1px solid #ddd;
                padding: 5px;
                border-radius: 5px;
                background: white;
            }

            .mb-3 {
                padding: 6px 0;
            }

            @keyframes fadeIn {
                from {
                opacity: 0;
                transform: scale(0.97);
                }
                to {
                opacity: 1;
                transform: scale(1);
                }
            }
            .modal-custom-width {
                max-width: 90%; /* ou ex: 1200px */
                width: 90%;
            }

        </style>

        <div class="modal fade" id="modal{{ chamado.id }}" tabindex="-1" aria-labelledby="modalLabel{{ chamado.id }}" aria-hidden="true">
        <div class="modal-dialog modal-custom-width">

            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel{{ chamado.id }}">Detalhes do Chamado - {{ chamado.nome_colaborador }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div class="container-detalhes">
                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <strong>Matrícula:</strong> {{ chamado.matricula }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Função:</strong> {{ chamado.funcao }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <strong>Departamento:</strong> {{ chamado.depto }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Gestor Imediato:</strong> {{ chamado.gestor_imediato }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <strong>Tipo de Exposição:</strong> {{ chamado.tipo_exposicao }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Natureza do Risco:</strong> {{ chamado.natureza_risco }}
                    </div>

                    <div class="col-md-12 mb-3">
                        <strong>Descrição das Atividades:</strong> {{ chamado.descricao_atividades }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <strong>Atividade:</strong> {{ chamado.atividade }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Locais de Atuação:</strong> {{ chamado.locais_atuaçao }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <strong>Frequência:</strong> {{ chamado.frequencia }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Data Autorização Gestor:</strong> {{ chamado.data_autorizacao_gestor|date:"d/m/Y" }}
                    </div>

                    <div class="col-md-6 mb-3">
                        <strong>Responsável:</strong> {{ chamado.responsavel }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <strong>Aprovação do Diretor:</strong>
                        {% if chamado.diretor_aprovacao == True %}
                        Aprovado
                        {% elif chamado.diretor_aprovacao == None %}
                        Pendente
                        {% else %}
                        Reprovado                        
                        {% endif %}
                    </div>

                    <!-- Repetir para outros campos -->
                    <div class="col-md-6 mb-3"><strong>ASO:</strong> {{ chamado.aso|default:"Ainda não preenchido" }}</div>
                    <div class="col-md-6 mb-3"><strong>EPI/EPC:</strong> {{ chamado.epi_epc|default:"Ainda não preenchido" }}</div>
                    <div class="col-md-6 mb-3"><strong>Curso NR10:</strong> {{ chamado.curso_nr10|default:"Ainda não preenchido" }}</div>
                    <div class="col-md-6 mb-3"><strong>Curso SEP:</strong> {{ chamado.curso_sep|default:"Ainda não preenchido" }}</div>
                    <div class="col-md-6 mb-3"><strong>Curso NR35:</strong> {{ chamado.curso_nr35|default:"Ainda não preenchido" }}</div>
                    <div class="col-md-6 mb-3"><strong>Observações de Cursos:</strong> {{ chamado.cursos_observacoes|default:"Ainda não preenchido" }}</div>

                    <div class="col-md-6 mb-3"><strong>Data Autorização SESMT:</strong> {{ chamado.data_autorizacao_sesmt|default:"Ainda não preenchido"|date:"d/m/Y" }}</div>
                    <div class="col-md-6 mb-3"><strong>Nome SESMT:</strong> {{ chamado.nome_sesmt|default:"Ainda não preenchido" }}</div>
                    <div class="col-md-6 mb-3"><strong>Procedimento RH/DP:</strong> {{ chamado.procedimento_rh_dp|default:"Ainda não preenchido" }}</div>
                    <div class="col-md-6 mb-3"><strong>Data Autorização RH/DP:</strong> {{ chamado.data_autorizacao_rh_dp|default:"Ainda não preenchido"|date:"d/m/Y" }}</div>
                    <div class="col-md-6 mb-3"><strong>Nome RH/DP:</strong> {{ chamado.nome_rh_dp|default:"Ainda não preenchido" }}</div>

                    <!-- Assinaturas -->
                    {% if chamado.assinatura_gestor %}
                        <div class="col-md-6 mb-3">
                        <strong>Assinatura Gestor:</strong><br>
                        <img src="{{ chamado.assinatura_gestor.url }}" class="assinatura-img">
                        </div>
                    {% endif %}
                    {% if chamado.assinatura_diretor %}
                        <div class="col-md-6 mb-3">
                        <strong>Assinatura Diretor:</strong><br>
                        <img src="{{ chamado.assinatura_diretor.url }}" class="assinatura-img">
                        </div>
                    {% endif %}
                    {% if chamado.assinatura_sesmt %}
                        <div class="col-md-6 mb-3">
                        <strong>Assinatura SESMT:</strong><br>
                        <img src="{{ chamado.assinatura_sesmt.url }}" class="assinatura-img">
                        </div>
                    {% endif %}
                    {% if chamado.assinatura_rh_dp %}
                        <div class="col-md-6 mb-3">
                        <strong>Assinatura RH/DP:</strong><br>
                        <img src="{{ chamado.assinatura_rh_dp.url }}" class="assinatura-img">
                        </div>
                    {% endif %}
                    </div>
                </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
            </div>
        </div>
        </div>