{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Chamado</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>FORMULÁRIO DE AUTORIZAÇÃO PARA EXPOSIÇÃO AO RISCO</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group form-columns">
                <div class="column">
                    <!-- Título: IDENTIFICAÇÃO DO COLABORADOR -->
                    <h3>IDENTIFICAÇÃO DO COLABORADOR</h3>
                    
                    <!-- Primeira Linha de Campos -->
                    <div class="form-row">
                        <div class="col-md-6">
                            <h5>Nome</h5>
                            {{ form.nome }}
                        </div>
                        <div class="col-md-6">
                            <h5>Matrícula</h5>
                            {{ form.matricula }}
                        </div>
                    </div>
                    
                    <!-- Segunda Linha de Campos -->
                    <div class="form-row">
                        <div class="col-md-6">
                            <h5>Função</h5>
                            {{ form.funcao }}
                        </div>
                        <div class="col-md-6">
                            <h5>Departamento</h5>
                            {{ form.depto }}
                        </div>
                    </div>
                    
                    <!-- Terceira Linha de Campos -->
                    <div class="form-row">
                        <div class="col-md-6">
                            <h5>Número de Chamado</h5>
                            {{ form.n_chamado }}
                        </div>
                    </div>
                </div>
                
                <div class="column">
                    <!-- Título: GESTOR DO COLABORADOR -->
                    <h3>GESTOR DO COLABORADOR</h3>
                    <div class="col">
                            <h5>ÁREA DE RISCO – ENERGIA ELÉTRICA: (Norma Regulamentadora nº10 e nº16)</h5>
                            {{ form.area_risco }}
                    </div>
                    <!-- Quarta Linha de Campos -->
                    <div class="form-row">
                        <div class="col-md-6">
                            <h5>Atividade</h5>
                            {{ form.atividade }}
                        </div>
                        <div class="col-md-6">
                            <h5>Áreas Operacionais COM risco</h5>
                            {{ form.areas }}
                        </div>
                    </div>
                
                    <!-- Quinta Linha de Campos -->
                    <div class="form-row">
                        <div class="col-md-6">
                            <h5>Frequência</h5>
                            {{ form.frequencia }}
                        </div>
                        <div class="col-md-6">
                            <h5>Data</h5>
                            {{ form.data }}
                        </div>
                    </div>
                
                    <!-- Sexta Linha de Campos -->
                    <div class="form-row">
                        <div class="col-md-6">
                            <h5>Nome</h5>
                            {{ form.laudo }}
                        </div>
                    </div>
                </div>
                
                <div class="column">
                    <!-- Título: DECLARAÇÃO E CIÊNCIA DO COLABORADOR -->
                    <h3>DECLARAÇÃO E CIÊNCIA DO COLABORADOR</h3>
                    
                    <!-- Sétima Linha de Campos -->
                    <div class="form-row">
                        <div class="col-md-6">
                            <h5>Data</h5>
                            {{ form.data2 }}
                        </div>
                        <div class="col-md-6">
                            <h5>Nome</h5>
                            {{ form.nome2 }}
                        </div>
                    </div>
                </div>
                
                <div class="column">
                    <!-- Título: PARECER DA MEDICINA DO TRABALHO (ASO) -->
                    <h3>PARECER DA MEDICINA DO TRABALHO (ASO)</h3>
                
                    <!-- Oitava Linha de Campos -->
                        <div class="col">
                            <h5>Análise da saúde para trabalhar em áreas de risco ELÉTRICO</h5>
                            {{ form.aso }}
                        </div>
                
                    <!-- Nona Linha de Campos -->
                    <div class="form-row">
                        <div class="col-md-6">
                            <h5>Data</h5>
                            {{ form.data3 }}
                        </div>
                        <div class="col-md-6">
                            <h5>Nome</h5>
                            {{ form.nome3 }}
                        </div>
                    </div>
                </div>
                
                <div class="column">
                    <!-- Título: PARECER DA ÁREA DE SEGURANÇA DO TRABALHO (TREINAMENTOS) -->
                    <h3>PARECER DA ÁREA DE SEGURANÇA DO TRABALHO (TREINAMENTOS)</h3>
                
                    <!-- Décima Linha de Campos -->
                        <div class="col">
                            <h5>Áreas de Risco Elétrico</h5>
                            {{ form.treinamentoa }}
                        </div>
                
                    <!-- Décima Primeira Linha de Campos -->
                    <div class="form-row">
                        <div class="col-md-6">
                            <h5>Data</h5>
                            {{ form.data4 }}
                        </div>
                        <div class="col-md-6">
                            <h5>Nome</h5>
                            {{ form.nome4 }}
                        </div>
                    </div>
                </div>
                
                <div class="column">
                    <!-- Título: PARECER FINAL -->
                    <h3>PARECER FINAL</h3>
                    <div class="form-row">
                        <div class="col-md-6">
                            <h5>Autorização</h5>
                            {{ form.autorizacao }}
                        </div>
                        <div class="col-md-6">
                            <h5>Laudo</h5>
                            {{ form.laudo }}
                        </div>

                    </div>
                        <div class="col">
                            <h5>Credenciado A</h5>
                            {{ form.credenciado_a }}
                        </div>
                    <!-- Décima Segunda Linha de Campos -->
                    <div class="form-row">
                        <div class="col-md-6">
                            <h5>Data</h5>
                            {{ form.data5 }}
                        </div>
                        <div class="col-md-6">
                            <h5>Nome</h5>
                            {{ form.nome5 }}
                        </div>
                    </div>
                </div>
                
                <div class="column">
                    <!-- Título: REGISTRO DA AUTORIZAÇÃO -->
                    <h3>REGISTRO DA AUTORIZAÇÃO</h3>
                
                    <!-- Décima Terceira Linha de Campos -->
                    <div class="form-row">
                        
                        <div class="col-md-6">
                            <h5>Data</h5>
                            {{ form.data6 }}
                        </div>
                        
                    </div>
                </div>
                
                
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        
        
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var autorizacaoField = document.getElementById("id_autorizacao");
            var credenciadoField = document.getElementById("id_credenciado_a");

            function toggleCredenciadoField() {
                if (autorizacaoField.value === "Autorizado") {
                    credenciadoField.style.display = "block";
                } else {
                    credenciadoField.style.display = "none";
                    credenciadoField.value = "";
                }
            }

            autorizacaoField.addEventListener("change", toggleCredenciadoField);
            toggleCredenciadoField();
        });
    </script>
</body>
</html>