<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <a href="{% url 'registros_sesmt' %}">Ver Registros</a>
    <h1>Bem vindo sesmt</h1>
    <h2>Chamados Aprovados</h2>
    <ul>
        {% for chamado in chamados %}
            <li>
                {{ chamado.nome_colaborador }} - 
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modal{{ chamado.id }}">
                    Ver Detalhes
                </button>
                {% include 'formulario/include/modal_detalhes.html' %}
                {% if chamado.upload_gestor %}
                    <p>Documento de Avaliação GPM: <a href="{{ chamado.upload_gestor.url }}" target="_blank">Download</a></p>
                {% endif %}
                {% if not chamado.sesmt_preenchido %}
                    <a href="{% url 'sesmt_editar' chamado.id %}">Preencher SESMT</a>
                {% else %}
                    <a href="{% url 'sesmt_editar' chamado.id %}">Editar SESMT</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'logout' %}">Sair</a>

</body>
</html>